<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista de Tareas con VueJS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class="col-sm-6">
				<h1 v-if="lists.length > 0">Agregar una tarea</h1>
				<h1 v-else="lists">Crea una tarea</h1>
				<input type="text" class="form-control" v-model="name" v-on:keyup.enter="addKeep">
			</div>
			<div class="col-sm-6">
				<h1 v-if="lists.length > 0">Listado de tareas</h1>
				<h1 v-else="lists">No hay tareas registradas</h1>
				<ul class="list-group">
					<li class="list-group-item" v-for="item in lists" v-bind:class="item.completed==true ? 'disabled' : ''" @click="item.completed = ! item.completed">
						{{item.keep}}
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<pre>
					{{$data | json}}
				</pre>
			</div>
		</div>
	</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
